Source: vyatta-anyfi-optimizer
Section: contrib/net
Priority: extra
Maintainer: Anyfi Networks <eng@anyfinetworks.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5), autotools-dev, autoconf

Package: vyatta-anyfi-optimizer
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-cfg,
 vyatta-op,
 openssl,
 vyatta-anyfi-common (>= 1.1.1),
 anyfi-optimizer (>= 1.7.0),
 ${misc:Depends}
Replaces: vyatta-anyfi-optimizer
Description: Vyatta integration for Anyfi Optimizer
 Vyatta integration for Anyfi Optimizer, a Software-Defined
 Wireless Networking (SDWN) central breakout solution.
